.wrapper {
	width: 350px;
	margin: 0 auto;
}

.header {
	height: 100px;
}

.yellow {
	width: 150px;
	height: 100%;
	background-color: #ffff66;
	float: left;
}

.gray {
	width: 200px;
	height: 100%;
	background-color: #666666;
	float: right;
}

.main {
	height: 150px;
}

.red {
	width: 150px;
	height: 100%;
	background-color: #ff3333;
	float: left;
}

.main-right {
	width: 200px;
	height: 100%;
	float: right;
}

.blue {
	width: 100px;
	height: 100%;
	background-color: #3366ff;
	float: left;
}

.green {
	width: 100px;
	height: 100%;
	background-color: #669933;
	float: right;
}

.footer {
	width: 100%;
	height: 100px;
}

.orange {
	width: 150px;
	height: 100%;
	background-color: #ff9966;
	float: left;
}

.footer-right {
	width: 200px;
	height: 100%;
	float: right;
}

.pale-yellow {
	width: 100px;
	height: 100%;
	background-color: #ffffcc;
	float: left;
}

.purple {
	width: 100px;
	height: 100%;
	background-color: #330066;
	float: right;
}